body {
    font-family: 'Times New Roman', Times, serif;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

caption {
    font-weight: bold;
    padding: 10px;
}